# This file is where you keep secret settings, passwords, and tokens!
# If you put them in the code you risk committing that info or sharing it

secrets = {
    'ssid' : '',
    'password' : '',
    'timezone' : 'America/Chicago', # http://worldtimeapi.org/timezones

    'google_auth_user' : '',
    'google_client_id' : '',
    'google_client_secret' : '',
    'google_access_token' : '',
    'google_refresh_token' : '',

    'aio_username' : '',
    'aio_key' : ''
}
